*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY */
.b-blu{
    background-color: rgb(97, 161, 221);
    display: inline-block;
    color: white;
}
.b-purple{
    background-color: rgb(125, 52, 177);
    display: inline-block;
    color: white;
}
.b-green{
    background-color: rgb(33, 167, 115);
    display: inline-block;
    color: white;
}
.b-orange{
    background-color: rgb(226, 155, 0);
    display: inline-block;
    color: white;
}
.etichetta{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 20px;
    font-size: 15px;
}
.b-pink{
    background-color: rgb(219, 51, 155);
    display: inline-block;
    color: white;
}
.b-lgreen{
    background-color: rgb(166, 226, 0);
    display: inline-block;
    color: white;
}

/* UTILITY */

.layout{
    height: 80px;
    padding-top: 10px;
    padding-left: 20px;
    background-color: white;
}
h1{
    display: inline;
    font-size: 2.5em;
 
}
.logo{
    vertical-align: middle;
    line-height: 100px; 
    margin-bottom: 20px;
}
body{
    font-family: 'Comic Neue', cursive;
    font-family: 'Kanit', sans-serif;
    height: 100%;
    background-color: rgb(220, 220, 220);
}
.container{
    width: 70%;
    margin: 0 auto;
    background-color: white;
    margin-top: 30px;
    border-radius: 5px;
    padding-bottom: 30px;
}
.task{
    width: 90px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 5px;  
    text-align: center;  
}
.section{
    padding: 4.5px;
    margin-top: 20px;
    border-radius: 5px;
    border: solid black 1px;    
}
hr{
    color: rgb(220, 220, 220);
    margin-top: 20px;
}
h2{
    margin-left: 30px;
    margin-top: 30px;
}
ul {
    list-style: none;
    margin-left: 35px;
  }
  
  li:before {
    content: " \2713";
    width: 20px;
    height: 20px;
    padding-right: 6px;
    padding-left: 6px;
    color: green;
    border: solid 1px green;
    border-radius: 50%;
    }

    li{
        margin-top: 20px;
        margin-right: 10px;
    }
    .X:before {
        content: "\2715";
        padding-right: 6px;
        color: red;
        border: solid 1px red;
        border-radius: 50%;
        }